<template>
    <div class="container">
        <div class="row pb-2 mt-4 mb-2"  id="filters">
            <div class="col-4">                        
                <label for="customer_id">Customers:</label>

                <select class='form-control' v-model='customer_id' @change='updateFilters()'>
                    <option value='0' >Select Costumer</option>
                    <option v-for='data in customers' :value='data.customer_id' :key="data.customer_id">{{ data.name }}</option>
                </select>
            </div>
            <div class="col-4">                        
                <label for="date_from">From:</label>
                <input class='form-control' type="date" v-model='date_from' id="date_from" name="date_from" @change='updateFilters()'>
            </div> 
            <div class="col-4">                        
                <label for="date_to">To:</label>
                <input class='form-control' type="date" v-model='date_to' id="date_to" name="date_from" @change='updateFilters()'>
            </div>    
        </div>

        <div class="row pb-2 mt-4 mb-2"  id="table-data">
            <div class="col-12">
                <table id="orders" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-2">Creation Date</th>
                            <th class="col-1">Order Id</th>
                            <th class="col-2">Total</th>
                            <th class="col-4">Address</th>
                            <th class="col-3">Products</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="loading_orders" class="d-flex">
                            <td colspan="5" style="width:100%" align="center"><img src="images/loading.gif" height="50"></td>
                        </tr>
                        <tr v-if="orders.length == 0 && !loading_orders" class="d-flex">
                            <td colspan="5" style="width:100%" align="center">{{ 'No Data' }}</td>
                        </tr>
                        <tr v-if="orders.length > 0 && !loading_orders" class="d-flex" v-for='data in orders' :key="data.order_id">
                            <td class="col-2" align="center">{{ dateFormat(data.creation_date) }}</td>
                            <td class="col-1" align="center">{{ data.order_id }}</td>
                            <td class="col-2" align="right">$ {{ numberFormat(data.total) }}</td>
                            <td class="col-4">{{ data.delivery_address }}</td>
                            <td class="col-3">
                                <div v-for='detail in data.order_details' :key="detail.order_detail_id">
                                    {{ detail.quantity + ' x ' + detail.product_description }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
   
<script>  
import moment from 'moment';
import numeral from 'numeral';
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return {
                loading_orders: true,
                customers: [],
                orders: [],
                customer_id: null,
                date_from: null,
                date_to: null
            }
        },
        methods:{
            getCustomers: function(){
                axios.get('/api/customers')
                .then(function (response) {
                    this.customers = response.data;
                }.bind(this));
         
            },
            getOrders: function() {
                this.loading_orders = true;
                axios.get('/api/orders',{
                params: {
                customer_id: this.customer_id,
                date_from: this.date_from,
                date_to: this.date_to
                }
                }).then(function(response){
                    this.orders = response.data;
                    this.loading_orders = false;
                }.bind(this));
            },
            updateFilters: function() {
                if(!this.customer_id || this.customer_id == 0 ){
                    this.customer_id = null;   
                }else{
                    this.customer_id = this.customer_id;   
                }
                !this.date_from || this.date_from == '' ?  this.date_from = null : this.date_from;
                !this.date_to || this.date_to == '' ?  this.date_to = null : this.date_to;
                console.log(this.customer_id);
                console.log(this.date_from);
                console.log(this.date_to);
                this.getOrders();  
            },
            dateFormat: function(value) {
                if (value) {
                    return moment(String(value)).format('MM/DD/YYYY')
                }
            },
            numberFormat: function(value) {
                if (value) {
                    return numeral(value).format("0,0");
                }
            }
        },
        created: function(){
            this.getCustomers();
            this.getOrders();
        }
    }
</script>